<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ window_title }}</title>
    <link rel="stylesheet" href="doxyfront.css"/>
</head>
    <body>
    <h1>{{ page_title|safe }}</h1>
    {% if include %}
        <span class="include">{{ include|safe }}</span>
    {% endif %}
    {% if details %}
        <div class="detaileddescription">{{ details|safe }}</div>
    {% endif %}
    {% for cat, members in member_cats %}
        <h2>{{ cat }}s</h2>
        <table>
        {% for m in members %}
            <tr>
                <td><span class="vis">{{ m.vis }}</span></td>
                <td><span class="def">{{ m.signature|safe }}</span></td>
                <td>{{ m.brief }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endfor %}
</body>
</html>
