<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
    <body>
    <h1>{{ title }}</h1>
    {% if brief %}
        <p><strong>{{ brief }}</strong></p>
    {% endif %}
    {% if details %}
        <p>{{ details }}</p>
    {% endif %}
    {% for cat, members in member_cats %}
        <h2>{{ cat }}s</h2>
        <ul>
        {% for m in members %}
            <li><a href="{{ m.id }}.html">{{ m.kind }} {{ m.name }}</a></li>
        {% endfor %}
        </ul>
    {% endfor %}
</body>
</html>
